main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 450px;
  width: 33rem;
  background-color: white;
  border-radius: 10px;
}

.logo {
  width: 237px;
  height: 180px;
  bottom: 40.8rem;
  left: 25%;
  position: absolute;
}

h1 {
  color: #1E1F36;
  font-size: 2.7rem;
  font-weight: 700;
  margin-top: 17.2rem;
  margin-bottom: 4rem;
  margin-left: 35%;
}

.question {
  color: #4B4C5F;
  font-size: 1.3rem;
  font-weight: 400;
}

.arrow {
  margin-left: 1rem;
  width: 0.8rem;
  height: 0.4rem;
  margin-bottom: 2rem;
  transition: transform 0.3s ease;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 27.9rem;
  margin-top: 2.3rem;
}

#file-size {
  width: 23rem;
}

.question-answer {
  display: flex;
  flex-direction: column;
  width: 27.9rem;
  color: #4B4C5F;
}

.answer {
  font-size: 1rem;
  margin-top: 0.5rem;
  font-weight: 400;
  /* display: none; */
}

.question:hover {
  cursor: pointer;
  color: black;
}



.for-direction {
  margin-left: 3rem;
}

@media (min-width:1000px) {
  main {
    flex-direction: row;
    width: 92rem;
    height: 20rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .background {
    right: 30rem;
    top: 50%;
    width: 27rem;
  }

  .logo {
    width: 471.694px;
    height: 277.972px;
    flex-shrink: 0;
    top: 25%;
    right: 50%;
    left: unset;
  }

  h1 {
    margin-top: 3rem;
  }

  .for-direction {
    margin-left: 50%;
  }
}
